.teamcity-trigger-background-image {
    background-image: url('images/config-background.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0;
    top: 0;
}

.teamcity-triggers .tabs-menu .add-tab {
    display: block;
    float: left;
    margin: 0;
}
.teamcity-triggers .tabs-menu .add-tab a {
    display: block;
    padding: 5px 10px 4px 10px;
    text-decoration: none;
}

.teamcity-triggers .tabs-menu .menu-item a {
    overflow: hidden;
}

.teamcity-triggers .tabs-menu .menu-item .aui-iconfont-error {
    color: #d04437;
}

.teamcity-triggers .tabs-pane {
    padding-top: 20px;
}

.teamcity-triggers .button-remove-trigger:focus,
.teamcity-triggers .button-remove-trigger:hover {
    background-color: #d04437;
    border-color: #a53127;
    color: white;
}
.teamcity-triggers .button-remove-trigger:active {
    background-color: #f05142;
    border-color: #a53127;
    color: white;
}
.teamcity-triggers .button-remove-trigger:focus .aui-icon,
.teamcity-triggers .button-remove-trigger:hover .aui-icon,
.teamcity-triggers .button-remove-trigger:active .aui-icon {
    color: white;
}

#open-teamcity-trigger-configuration {
    float: left;
}

.select2-results .select2-result .teamcity-trigger-buildconfig-suggestion {
    min-height: 50px;
}
.select2-results .select2-result .teamcity-trigger-buildconfig-suggestion .suggestion-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    padding-top: 5px;
}
.select2-results .select2-result .teamcity-trigger-buildconfig-suggestion .suggestion-title.no-description {
    line-height: 40px;
}
.select2-results .select2-result .teamcity-trigger-buildconfig-suggestion .suggestion-title .buildconfig-project {
    font-size: 12px;
}